@model FoodLabellingSystem_Service.Models.Unit

<div class="container push-down box-shadow">
    <h1>Add a new unit</h1>
    <hr />
    <form asp-action="Create">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UnitId" class="control-label"></label>
                    <input asp-for="UnitId" class="form-control" />
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToGram" class="control-label"></label>
                    <input asp-for="ToGram" class="form-control" />
                    <span asp-validation-for="ToGram" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <div class="form-group">
                    <button asp-action="Index" class="btn btn-outline-primary ">Back</button>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary float-right" />
                </div>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
