@model FoodLabellingSystem_Service.Models.Unit
<div class="container push-down box-shadow">
    <h1>Edit @Model.UnitId</h1>
    <hr />
    <form asp-action="Edit">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UnitId" />
                <div class="form-group">
                    <label asp-for="ToGram" class="control-label"></label>
                    <input asp-for="ToGram" class="form-control" placeholder="Selected unit in gram" />
                    <span asp-validation-for="ToGram" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
