@model FoodLabellingSystem_Service.Models.Warning

<div class="container push-down box-shadow">
    <h1>Edit @Model.WarningId</h1>
    <hr />
    <form asp-action="Edit">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="WarningId" />
                <div class="form-group">
                    <label asp-for="WarningId" class="control-label">Warning Name</label>
                    <input asp-for="WarningId" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="WarningType" class="control-label">Warning Type</label>
                    <select asp-for="WarningType" class="form-control" asp-items="ViewBag.WarningType">Warning Type</select>
                    <span asp-validation-for="WarningType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <textarea asp-for="Message" class="form-control" style="height:150px;"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <a asp-action="Index" class="btn btn-secondary ">Back</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
